




{include file='header.tpl'}


	<main class="content">
		<div class="content-header ui-content-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-lg-push-0 col-sm-12 col-sm-push-0">
						<h1 class="content-heading">405</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
						<section class="content-inner margin-top-no">
							
							
							<div class="card">
								<div class="card-main">
									<div class="card-inner">
										<p>您的访问方式不正确。</p>
									</div>
									
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach" href="javascript:history.back()"><span class="icon">backspace</span>&nbsp;返回</a>
										</div>
									</div>
									
								</div>
							</div>

								
							<div class="card">
								<div class="card-main">
									<div class="card-inner">
											<div class="card-img">
												<img src="https://http.cat/405" style="width: 100%;">
											</div>
									</div>
									
									
								</div>
							</div>
							

		
							
						</section>
			
			
			
		</div>
	</main>


{include file='footer.tpl'}