	<footer class="ui-footer">
		<div class="container">
			&copy; {$config["appName"]}
		</div>
	</footer>


	<!-- js -->
	<script src="//cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
	
	<script src="/theme/material/js/base.min.js"></script>
	<script src="/theme/material/js/project.min.js"></script>
</body>
</html>