
	<!-- js -->
	<script src="//cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
	<script src="//cdn.staticfile.org/jquery-validate/1.15.0/jquery.validate.min.js"></script>
	<script src="//static.geetest.com/static/tools/gt.js"></script>
	<script src="//cdn.staticfile.org/datatables/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.staticfile.org/datatables/1.10.13/js/dataTables.material.min.js"></script>
	<script src="/theme/material/js/base.min.js"></script>
	<script src="/theme/material/js/project.min.js"></script>
	<script src="//cdnjs.cat.net/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
	
</body>
</html>